{{ define "main" }}
	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
		{{ range .Paginator.Pages }}
		<article class="col-span-full md:col-span-1 lg:col-span-1 shadow-md max-h-max bg-white">
			{{ if .Params.image }}
				<img src="{{ .RelPermalink }}/images/{{ .Params.image }}" alt="..." class="h-48 w-full object-cover">
			{{ end }}
			<div class="p-4">
				<a href="{{ .RelPermalink }}" class="mt-2 text-xl leading-7 font-semibold text-gray-900">{{ .Title }}</a>
				<div class="text-gray-400">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
				<div class="mt-3 flex items-center">
					<div class="flex-shrink-0">
						<img src="https://placeimg.com/1024/1024/people" alt="..." class="h-10 w-10 rounded-full">
					</div>
					<div class="ml-3">
						<div class="text-sm leading-5 font-medium text-gray-900">{{ .Params.author }}</div>
						<div class="flex text-sm leading-5 text-gray-500">
							<time>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
							<span class="mx-1">&middot;</span>
							<span>{{ .Params.readTime }} min read</span>
						</div>
					</div>
				</div>
				<p class="mt-5 mb-3 text-base leading-6 italic text-gray-500">{{ .Summary | safeHTML }}</p>
				<div class="mb-3"><div class="text-gray-400">{{ if .Params.tags }}{{ range .Params.tags }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="bg-dark hover:bg-gray-700 text-white font-bold uppercase text-xs px-2 py-1">{{ . }}</a> {{ end }}{{ end }}</div></div>
			</div>
		</article>
		{{ end }}
		<section class="col-span-full md:col-span-full lg:col-span-full">
			{{ partial "pagination" . }}
		</section>
	</section>
{{ end }}