{{ define "main" }}
	<article class="shadow-md bg-white">
		{{ if .Params.image }}
		<img src="{{ .RelPermalink }}/images/{{ .Params.image }}" alt="..." class="h-auto w-full object-cover">
		{{ end }}
		<div class="p-6">
			<h1 class="text-4xl capitalize">{{ .Params.title }}</h1>
			<blockquote class="my-3">
				<p class="border-l-4 border-gray-200 text-xl italic pl-6 py-1">{{ .Summary | safeHTML }}</p>
				<cite class="flex items-center mt-3">
					<div class="flex-shrink-0">
						<img src="https://placeimg.com/1024/1024/people" alt="..." class="h-10 w-10 rounded-full">
					</div>
					<div class="ml-3">
						<div class="text-sm leading-5 font-medium text-gray-900">{{ .Params.author }}</div>
						<div class="flex text-sm leading-5 text-gray-500">
							<time>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time>
							<span class="mx-1">&middot;</span>
							<span>{{ .Params.readTime }} min read</span>
						</div>
					</div>
				</cite>
			</blockquote>
			<article class="w-full md:max-w-full prose prose-code:bg-neutral-50 prose-code:block prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .Content | safeHTML }}</article>
			{{ if .Params.comment }}
			<div class="flex justify-end">
				<a href="https://forum.openmw.org/viewtopic.php?f={{ .Params.source.forumID }}&t={{ .Params.source.topicID }}" target="_blank" class="inline-block text-base p-4 leading-5 font-medium text-white bg-gray-700 hover:bg-gray-600">Want to Leave a Comment?</a>
			</div>
			{{ end }}
		</div>
	</article>
{{ end }}