<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
	{{- partial "head.html" . -}}
	<body class="bg-gray-200 max-w-7xl mx-auto">
		<div class="container px-5 my-3 mx-auto" id="content">
			{{- partial "navbar.html" . -}}
			{{- block "main" . }}{{- end }}
		</div>
		<a href="{{ .RelPermalink }}" type="button" class="fixed bottom-0 right-0 leading-5 font-medium text-white bg-dark opacity-80 hover:opacity-100 p-4"><i class="fad fa-chevron-double-up"></i></a>
		{{- partial "footer.html" . -}}
	</body>
</html>
