{{ define "main" }}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
	{{ if .Params.toc }}
	<aside class="col-span-full md:col-span-full lg:col-span-1">
		<article class="lg:sticky lg:top-0 shadow-md bg-white">
			<div class="text-white bg-dark">
				<div class="text-xl py-3 px-6">Table of Contents</div>
			</div>
			<div class="lg:box-border lg:overflow-y-auto lg:h-auto lg:max-h-screen md:max-w-screen prose prose-a:no-underline prose-a:font-normal prose-a:text-gray-900 hover:prose-a:text-gray-800 p-6">
				{{ .TableOfContents }}
			</div>
		</article>
	</aside>
	<section class="col-span-full md:col-span-full lg:col-span-2">
		<article class="max-w-full shadow-md bg-white p-6 prose prose-code:bg-neutral-50 prose-code:block prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .Content }}</article>
	</section>
	{{ else }}
	<section class="col-span-full md:col-span-full lg:col-span-full">
		<article class="max-w-full shadow-md bg-white p-6 prose prose-code:bg-neutral-50 prose-code:block prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 hover:prose-a:text-blue-600">{{ .Content }}</article>
	</section>
	{{ end }}
</div>
{{ end }}