<li class="group relative dropdown hover:text-gray-200 tracking-wide mr-6 z-10">
	<a class="block lg:inline-block lg:mt-0 mt-3" href="">{{ .Language.LanguageName }} <i class="fad fa-chevron-down"></i></a>
	<div class="group-hover:block dropdown-menu absolute hidden h-auto">
		<ul class="top-0 w-60 text-gray-900 bg-white shadow-md">
			{{ range $.Site.Home.AllTranslations }}
			<li class="hover:bg-gray-100 py-1">
				<a class="block px-4 py-2" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
			</li>
			{{ end }}
		</ul>
	</div>
</li>