<div class="container px-5 my-3 mx-auto" id="footer">
  <footer class="text-gray-600 body-font bg-dark shadow-md">
    <div class="container px-6 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-100 tracking-widest uppercase text-sm mb-3">Website</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="{{ "/" | relURL | absLangURL }}" class="text-gray-500 hover:text-gray-400">Home</a>
            </li>
            <li>
              <a href="{{ "/blogs" | relURL | absLangURL }}" class="text-gray-500 hover:text-gray-400">Blog</a>
            </li>
            <li>
              <a href="{{ "/download" | relURL | absLangURL }}" class="text-gray-500 hover:text-gray-400">Download</a>
            </li>
            <li>
              <a href="{{ "/media" | relURL | absLangURL }}" class="text-gray-500 hover:text-gray-400">Media</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-100 tracking-widest uppercase text-sm mb-3">About</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="{{ "/faq" | relURL | absLangURL }}" class="text-gray-500 hover:text-gray-400">FAQ</a>
            </li>
            <li>
              <a href="{{ "/team" | relURL | absLangURL }}" class="text-gray-500 hover:text-gray-400">Team</a>
            </li>
            <li>
              <a href="https://wiki.openmw.org/" target="_blank" class="text-gray-500 hover:text-gray-400">Wiki</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-100 tracking-widest uppercase text-sm mb-3">Community</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://forum.openmw.org/" target="_blank" class="text-gray-500 hover:text-gray-400">Forum</a>
            </li>
            <li>
              <a href="https://gitlab.com/OpenMW/openmw/issues" target="_blank" class="text-gray-500 hover:text-gray-400">Issue Tracker</a>
            </li>
            <li>
              <a href="https://discord.gg/bWuqq2e" target="_blank" class="text-gray-500 hover:text-gray-400">Discord</a>
            </li>
            <li>
              <a href="https://kiwiirc.com/nextclient/irc.libera.chat:6697/#openmw" target="_blank" class="text-gray-500 hover:text-gray-400">IRC</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-100 tracking-widest uppercase text-sm mb-3">Subscribe</h2>
          <div class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex-wrap justify-center items-center md:justify-start">
            <div class="relative w-full sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2">
              <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-500 bg-opacity-50 rounded border border-gray-800 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <button class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 my-1 focus:outline-none hover:bg-indigo-600 rounded">Submit</button>
          </div>
          <p class="text-gray-500 text-sm mt-2 md:text-left text-center">Sign Up for Our Newsletter!</p>
        </div>
      </div>
    </div>
    <div class="bg-gray-100">
      <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
        <p class="text-sm text-gray-500 sm:mt-0 mt-4">&copy; 2008 - {{ now.Year }} OpenMW. All rights reserved. Powered by Hugo.</p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="text-sm text-gray-500 hover:text-gray-900 ml-1">| Hugo Theme by JSchmidt</a>
          <a href="#" target="_blank" rel="noopener noreferrer" class="text-sm text-gray-500 hover:text-gray-900 ml-1">| Website Logo by Necrod</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a href="https://discord.gg/YegsVV3aRb" target="_blank" class="text-gray-500 hover:text-gray-900">
            <i class="fab fa-discord"></i>
          </a>
          <a href="https://github.com/OpenMW/openmw" target="_blank" class="ml-3 text-gray-500 hover:text-gray-900">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://gitlab.com/OpenMW/openmw" target="_blank" class="ml-3 text-gray-500 hover:text-gray-900">
            <i class="fab fa-gitlab"></i>
          </a>
          <a href="https://reddit.com/r/openmw" target="_blank" class="ml-3 text-gray-500 hover:text-gray-900">
            <i class="fab fa-reddit"></i>
          </a>
          <a href="https://twitter.com/intent/user?screen_name=Openmw_org" target="_blank" class="ml-3 text-gray-500 hover:text-gray-900">
            <i class="fab fa-twitter"></i>
          </a>
        </span>
      </div>
    </div>
  </footer>
</div>