<nav class="bottom-0 w-full bg-dark lg:bg-transparent lg:absolute text-gray-400 p-4">
	<div class="bottom-0 right-0 w-full bg-dark hidden lg:absolute lg:opacity-80 lg:block p-7 z-0"></div>
	<div class="max-w-7xl">
		<ul class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
			<div class="flex-grow justify-end lg:flex lg:items-center lg:w-auto">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
					{{ if .HasChildren }}
					<li class="group relative dropdown hover:text-gray-200 tracking-wide mr-6 z-10 {{ if $currentPage.HasMenuCurrent "main" . }}text-black{{ end }}">
						<a class="block lg:inline-block lg:mt-0 mt-3" href="{{ .URL | absLangURL }}">{{ .Pre }}<span class="capitalize">{{ .Name }}</span>{{ .Post }}</a>
						<div class="group-hover:block dropdown-menu absolute hidden h-auto">
							<ul class="top-0 w-60 text-gray-900 bg-white shadow-md">
								{{ range .Children }}
								<li class="hover:bg-gray-100 py-1{{ if $currentPage.IsMenuCurrent "main" . }}bg-gray-100{{ end }}">
									<a class="block px-4 py-2" href="{{ .URL | absLangURL }}"><span class="capitalize">{{ .Name }}</span></a>
								</li>
								{{ end }}
							</ul>
						</div>
					</li>
					{{ else }}
					<li class="hover:text-gray-200 mr-6 z-10">
						<a class="block lg:inline-block lg:mt-0 mt-3" href="{{ .URL | absLangURL }}">
							{{ .Pre }}<span class="text-capitalize">{{ .Name }}</span>{{ .Post }}
						</a>
					</li>
					{{ end }}
				{{ end }}
				{{- partial "allLanguages.html" . -}}
			</div>
		</ul>
	</div>
</nav>