{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
{{ $.Scratch.Set "dot_rendered" false }}
<nav class="relative z-0 inline-flex shadow-md -space-x-px" aria-label="Pagination">
  <!-- Don't show on 1st and 2nd page -->
  {{ if and (ne $pag.PageNumber 1) (ne $pag.PageNumber 2) }}
  <a href="{{ $pag.First.URL }}" rel="first" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-gray-500 hover:bg-gray-50"><i class="fad fa-chevron-double-left"></i></a>
  {{ end }}

  {{ if $pag.HasPrev  }}
  <a href="{{ $pag.Prev.URL }}" rel="prev" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-gray-500 hover:bg-gray-50"><i class="fad fa-chevron-left"></i></a>
  {{ end }}

  {{ range $pag.Pagers }}
      {{ if eq . $pag }} <!-- Current Page -->
      <a href="{{ .URL }}" class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border active">{{ .PageNumber }}</a>
      {{ else if and (ge .PageNumber (sub $pag.PageNumber 2)) (le .PageNumber (add $pag.PageNumber 2)) }}
      {{ $.Scratch.Set "dot_rendered" false }} <!-- Render prev 2 page and next 2 pages -->
      <a href="{{ .URL }}" class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border">{{ .PageNumber }}</a>
      {{ else if eq ($.Scratch.Get "dot_rendered") false }} <!-- render skip pages -->
      {{ $.Scratch.Set "dot_rendered" true }}
      <a class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border disabled">...</a>
      {{ end }}
  {{ end }}

  {{ if $pag.HasNext }}
  <a href="{{ $pag.Next.URL }}" rel="next" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-gray-500 hover:bg-gray-50"><i class="fad fa-chevron-right"></i></a>
  {{ end }}

  <!-- Don't show on last and 2nd last page -->
  {{ if and (ne $pag.PageNumber $pag.TotalPages) ((ne $pag.PageNumber (sub $pag.TotalPages 1))) }}
  <a href="{{ $pag.Last.URL }}" rel="last" class="relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-gray-500 hover:bg-gray-50"><i class="fad fa-chevron-double-right"></i></a>
  {{ end }}
</nav>
{{ end }}